.navigation--desktop {
  display: none;
  .navigation__menu-item-link-button {
    box-sizing: border-box;
    // width: 295px;
    // height: 77px;
    font-size: 4.2rem;
    border-radius: 20px;
    border-color: transparent;
    background-image: linear-gradient(#35b788 5%, #2dc28d 70%, #35b788 95%);
    color: white;
    cursor: pointer;
  }
}
@media (min-width: 768px) and (min-height: 673px) {
  .navigation--desktop {
    display: block;
    position: absolute;
    top: 10%;
    right: 10%;
    .navigation__menu-item-link-button {
      font-size: 2.2rem;
      width: 150px;
      height: 50px;
      line-height: calc(57px / 2);
    }
  }
}
@media (min-width: 768px) and (min-height: 1024px) {
  .navigation--desktop {
    top: 5%;
    right: 8%;
    .navigation__menu-item-link-button {
      font-size: 2.7rem;
      width: 170px;
      height: 55px;
      line-height: calc(57px / 2);
    }
  }
}
// iPad Pro reverse
@media (width: 1366px) and (height: 1024px) {
  .navigation--desktop {
    top: -5%;
    right: 15%;
    .navigation__menu-item-link-button {
      font-size: 4.2rem;
      width: 285px;
      height: 77px;
      margin-top: 40px;
    }
  }
}
