.navigation__menu-item-link-button {
  box-sizing: border-box;
  width: 295px;
  height: 77px;
  font-size: 4.2rem;
  border-radius: 20px;
  border-color: transparent;
  background-image: linear-gradient(#35b788 5%, #2dc28d 70%, #35b788 95%);
  color: white;
  cursor: pointer;
}
