body {
  overflow-x: hidden;
}

.form-wrapper {
  background-color: $background-color;
  min-height: 100vh;
  padding-bottom: 50px;
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    &__logo-icon {
      display: none;
    }
    &__cart {
      z-index: 100;
      &-icon {
        font-size: 4rem;
        color: rgb(201, 201, 201);
      }
    }
    &__menuButton {
      z-index: 100;
      &-icon {
        font-size: 5rem;
        color: black;
      }
    }
  }
  .siteTitle {
    font-size: 4.2rem;
    margin-top: 15px;
    text-align: center;
    color: $primary-color;
    font-family: "Oswald";
    font-weight: normal;
    text-transform: uppercase;
  }
  .form {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    &__label {
      color: $secondary-color;
      font-size: 2rem;
    }
    &__input {
      width: 80%;
      height: 30px;
      font-size: 2rem;
    }
    &__input {
      width: 80%;
      height: 30px;
      font-size: 2rem;
      &--text {
        height: 50%;
      }
      &--button {
        margin-top: 10px;
        border: 1px solid black;
        width: 70px;
        height: 30px;
        font-size: 2rem;
      }
    }
  }
  // tablet
  @media (min-width: 768px) and (min-height: 673px) {
    .navigation {
      display: none;
    }
    .menu {
      justify-content: left;
      &__logo {
        margin-left: 40px;
        order: -1;
        &-icon {
          display: block;
          font-size: 5rem;
          color: $primary-color;
        }
      }
      &__cart {
        margin-left: 30px;
        &-icon {
          font-size: 4.2rem;
        }
      }
      &__menuButton {
        &-icon {
          display: none;
        }
      }
    }
    .siteTitle {
      margin-top: 50px;
    }
    .form {
      margin-top: 30px;
    }
  }
  @media (min-width: 1440px) {
    .siteTitle {
      transform: translateY(-50%);
    }
    .form {
      width: 40%;
      margin: 30px auto;
    }
  }
  @media (min-width: 1920px) {
    .siteTitle {
      margin-top: 100px;
    }
  }
}
