// index styles without rainbow and buttons

.wrapper-index {
  overflow: hidden;
  background-color: $background-color;
  min-height: 100vh;
  .logo {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 5rem;
    color: $primary-color;
  }
  .menu-button {
    font-size: 6rem;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    z-index: 100;
    animation: menuButtonAnimation 5s linear infinite;
  }
  .text-wrapper {
    width: 180px;
    margin: 40% 0 0 40%;
    &__text {
      font-family: "Oswald";
      color: $primary-color;
      font-size: 4.3rem;
      font-weight: 100;
      text-align: right;
      text-transform: uppercase;
    }
  }
  @keyframes menuButtonAnimation {
    0% {
      color: black;
    }
    50% {
      color: $primary-color;
    }
    100% {
      color: black;
    }
  }

  // Tablet
  @media (min-width: 768px) and (min-height: 673px) {
    .logo {
      font-size: 6.5rem;
    }
    .text-wrapper {
      margin: 25% 0 0 0;
    }
    .menu-button {
      display: none;
    }
    .navigation {
      display: none;
    }
  }

  // laptop
  @media (min-width: 1024px) {
    .text-wrapper {
      margin: 20% 0 0 8%;
    }
  }
  @media (min-width: 1920px) {
    .text-wrapper {
      margin: 15% 0 0 17%;
      width: 300px;
      &__text {
        font-size: 6.2rem;
      }
    }
  }
  // Iphone X
  @media (width: 375px) and (height: 812px) {
    .text-wrapper {
      margin: 50% 0 0 45%;
    }
    .logo {
      font-size: 6.5rem;
    }
  }
  // Galaxy Fold
  @media (width: 280px) and (height: 653px) {
    .text-wrapper {
      margin: 55% 0 0 30%;
    }
  }
  // Surface Duo
  @media (width: 540px) and (height: 720px) {
    .text-wrapper {
      margin: 30% 0 0 60%;
    }
  }
  // iPad Pro
  @media (width: 1024px) and (height: 1366px) {
    .text-wrapper {
      margin: 25% 0 0 5%;
      width: 300px;
      &__text {
        font-size: 6rem;
      }
    }
  }
  // iPad Pro reverse
  @media (width: 1366px) and (height: 1024px) {
    .text-wrapper {
      margin: 20% 0 0 11%;
      width: 300px;
      &__text {
        font-size: 5rem;
      }
    }
  }
}
