.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  transform: translateY(-100%);
  &__menu {
    margin: 50% 0 0 50%;
    transform: translateX(-50%);
    &-item {
      font-size: 4.8rem;
      text-align: center;
      &-link {
        color: white;
      }
    }
  }
}
