body {
  overflow-x: hidden;
}

.shop-wrapper {
  background-color: $background-color;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 50px;
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    &__logo-icon {
      display: none;
    }
    &__cart {
      z-index: 100;
      &-icon {
        font-size: 4rem;
        color: rgb(201, 201, 201);
      }
    }
    &__menuButton {
      z-index: 100;
      &-icon {
        font-size: 5rem;
        color: black;
      }
    }
  }

  .items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    &__item {
      position: relative;
      width: 100%;
      margin: 35px 0;
      height: 250px;
      background-color: rgb(112, 38, 38);
      cursor: pointer;
      &-describe {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.651);
        &-text {
          font-size: 2rem;
          color: white;
          text-align: center;
          line-height: 40px;
        }
      }
    }
  }

  // tablet
  @media (min-width: 768px) and (min-height: 673px) {
    .navigation {
      display: none;
    }
    .menu {
      justify-content: left;
      &__logo {
        margin-left: 40px;
        order: -1;
        &-icon {
          display: block;
          font-size: 5rem;
          color: $primary-color;
        }
      }
      &__cart {
        margin-left: 30px;
        &-icon {
          font-size: 4.2rem;
        }
      }
      &__menuButton {
        &-icon {
          display: none;
        }
      }
    }
    .siteTitle {
      margin-top: 50px;
    }
    .form {
      margin-top: 30px;
    }
    .items {
      width: 80%;
      margin: 140px auto 0;
      &__item {
        position: relative;
        width: 45%;
        margin: 35px 2%;
      }
    }
  }
  // laptop
  @media (min-width: 1024px) {
    .items {
      width: 90%;
      margin: 200px auto 0;
      &__item {
        position: relative;
        width: 25%;
        margin: 35px 2%;
        transition: 0.2s;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  @media (min-width: 1920px) {
  }
}
